<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-shell>
  <h3 class="header" #headElm>Angular Indepth Component - with shell component</h3>
  <app-blog-list id="body"></app-blog-list>
  <div footer>
    Footer
  </div>

</app-shell>
<router-outlet></router-outlet>
